{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Explorer{% if query %} - {{ query.title }}{% elif title %} - {{ title }}{% endif %}</title>

    <link href="{% static 'codemirror/lib/codemirror.css' %}" rel="stylesheet" />
    <link href="{% static 'explorer/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'explorer/explorer.css' %}" />

    <script src="{% static 'explorer/jquery.min.js' %}"></script>
    <script src="{% static 'explorer/jquery.cookie.min.js' %}"></script>

    <script src="{% static 'explorer/jquery-ui.11.4.min.js' %}"></script>
    <script src="{% static 'explorer/explorer.js' %}"></script>
    <script type="text/javascript">
        dataUrl = "{{ dataUrl }}";
        queryId = "{% firstof query.id 'new' %}";
    </script>
</head>

<body>
    <div id="wrap" class="wrap">
        {% block sql_explorer_navbar %}

        {% endblock %}
        <div class="container">
          <div class="starter-template">
          {% block sql_explorer_content %}{% endblock %}
          </div>
        </div>
    </div>
    {% block sql_explorer_footer %}

    {% endblock %}
    <script src="{% static 'explorer/underscore-min.js' %}"></script>
    <script src="{% static 'explorer/bootstrap.min.js' %}"></script>
    <script src="{% static 'explorer/list.min.js' %}"></script>
    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/sql/sql.js' %}"></script>
    <script src="{% static 'codemirror/addon/comment/comment.js' %}"></script>
    <script src="{% static 'explorer/jquery.floatThead-slim.min.js' %}"></script>
    <script src="{% static 'explorer/pivot.min.js' %}"></script>
    {% block sql_explorer_scripts %}{% endblock %}
</body>

</html>
