{% extends "explorer/base.html" %}

{% load explorer_tags %}

{% block sql_explorer_navlinks %}
    {% if can_change %}
       
    {% endif %}
{% endblock %}

{% block sql_explorer_content %}
<div class="row">
    <div id="query_area" class="col-md-12">
        <form role="form" action="{% url "explorer_playground" %}" method="post" id="editor" class="playground-form">{% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endif %}
            <div class="panel panel-default sql-panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="panel-title">Siasar SQL</span>
                    </div>
                    {% if ql_id %}
                        <div class="col-md-6 text-right">
                          <small><a href="{% url "explorer_logs" %}"><i class="glyphicon glyphicon-sort"></i></a></small>
                          <small><a href="{% url "explorer_playground" %}?querylog_id={{ ql_id }}"><i class="glyphicon glyphicon-link"></i></a></small>
                        </div>
                    {% endif %}
                  </div>
                </div>
                <div class="panel-content">
                    <textarea class="form-control" cols="40" id="id_sql" name="sql" rows="20">{{ query.sql }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <div class="btn-group">
                        <input type="submit" value="Executar" id="refresh_play_button" class="btn btn-default"/>
                        <button type="button" class="btn btn-default" id="show_schema_button">Mostrar Schema</button>
                        <button type="button" class="btn btn-default" id="hide_schema_button" style="display: none;">Esconder Schema</button>
                        <button type="button" class="btn btn-default" id="format_button">Formatar</button>
                        <button type="button" class="btn btn-default" id="ok_button">OK</button>
                    </div>
                </div>
            </div>
            {% export_buttons %}
            <input type="hidden" value="Teste Query" name="title" />
        </form>
    </div>
    <div id="schema" style="display: none;">
        <iframe src="" height="630px" frameBorder="0" id="schema_frame"></iframe>
    </div>
</div>
{% include 'explorer/preview_pane.html' %}

{% endblock %}

{% block sql_explorer_scripts %}
    <script>
    	var edi;
        $(function() {
        	
            edi = new ExplorerEditor(queryId, dataUrl);
            $( "#ok_button" ).click(function() {
            	edi.editor.toTextArea();
            	window.opener.sql_varia_consulta.setValue(document.getElementById('id_sql').value);
            	window.close ();
           	});
            
            
        });
    </script>
{% endblock %}


