{% extends "explorer/base.html" %}

{% block sql_explorer_navbar %}{% endblock %}
{% block sql_explorer_content %}

    <h4 class="text-center">Schema</h4>
    <div id="tables">
        <p>
          <input class="form-control search" placeholder="Buscar" />
        </p>
        <ul class="list">
            {% for m in schema %}
                <li>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <small class="text-muted app">{{ m.0 }}</small><h4 class="name panel-title">{{ m.1 }}</h4>
                        </div>
                        <table class="table table-condensed table-hover">
                            <thead>
                            </thead>
                            <tbody>
                                {% for c in m.2 %}
                                <tr>
                                    <td width="50%"><code>{{ c.0 }}</code></td>
                                    <!-- This will show the type of the column as well -->
                                    <td width="50%" class="text-muted"><small>{{ c.1 }}</small></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block sql_explorer_footer %}{% endblock %}

{% block sql_explorer_scripts %}
<script>
    $(function() {
        function SearchFocus() {
            $(".search").focus();
        }
        var options = {
            valueNames: [ 'name', 'app' ],
            handlers: { 'updated': [SearchFocus] }
        };
        var tableList = new List('tables', options);
    });
</script>
{% endblock %}