.button_sql {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
    position: relative;
    float: right;
    left: -100px;
    top: 10px;
}