{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block branding %}
<h1 id="site-name">{% trans 'Sistema de Indicadores Siasar' %}</h1>
{% endblock %}


{% block content %}
    <h1>Configuration</h1>
    <fieldset>
        <legend>DW:</legend>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="submit-row">
                    <input type="submit" value="Clean Variavel DW" name="_cleandw">
                </div>
            </form>
    </fieldset>
    <br/>
    <fieldset>
        <legend>ETLs:</legend>
        <form method="POST" class="post-form">
            {% csrf_token %}
                {% if not enable_kronos %}
                    <input type="submit" value="Enable Cron Tasks" name="_installtasks" style="background:#417690;">
                {% else %}
                    <input type="submit" value="Clean Cron Tasks" name="_removetasks" style="background:#ba2121;">
                {% endif %}
        </form>
    </fieldset>
{% endblock %}
